@import 'layout.scss';

* {
  box-sizing: border-box;
}

@include for-small-screen {
  .container {
    display: flex;
    flex: 2 2;
  }
}

@include for-middle-screen {
  .section {
    display: flex;
  }
}
