* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.article {
  background-color: #ffe4c4;
  margin: 8px;
  padding: 16px;
  flex-basis: 300px;
  flex-grow: 1;
  /* min-width: 300px; */
}
