button {
  margin: 64px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #ff7f50;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: 0;
  line-height: 50px;
  border-radius: 4px;
}

.bird {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  fill: #ffffff;
}

button:hover {
  color: #008b8b;
}
button:hover > .bird {
  fill: #008000;
}
