* {
  box-sizing: border-box;
}
.articles {
  display: flex;
}

.visible-text {
  background-color: #f5f5dc;
  height: 100px;
  margin: 16px;
  flex-basis: 150px;
}
.cropped {
  background-color: #f5f5dc;
  height: 100px;
  margin: 16px;
  flex-basis: 150px;
  overflow: hidden;
}
.both-scrolls {
  background-color: #f5f5dc;
  height: 100px;
  margin: 16px;
  flex-basis: 150px;
  overflow-y: scroll;
  overflow-x: scroll;
  cursor: all-scroll;
}
.vertical-scroll {
  background-color: #f5f5dc;
  height: 100px;
  margin: 16px;
  flex-basis: 150px;
  overflow: auto;
  cursor: all-scroll;
}
