h1 + section > ol {
  background-color: #008000;
  color: #ffffff;
}

.to-be-learned > ol {
  background-color: #ffa500;
  color: #008000;
}

section code {
  background-color: #ffa500;
}

.to-be-learned code {
  background-color: #008000;
}

#special1 ~ li > h4 > code {
  border: 2px solid #0000ff;
}

#special2 ~ li {
  font-size: 24px;
}
