/* * {
  box-sizing: border-box;
} */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.spinner {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
}

.spinner-text {
  animation: blinking 2s infinite linear;
}

.rect {
  background-color: #000000;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  animation: blinking 2s infinite linear, moving 2s infinite alternate;
}

@keyframes moving {
  0% {
    left: 0;
  }

  100% {
    left: 66px;
  }
}
