* {
  box-sizing: border-box;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.spinner {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  /* position: absolute; */
  display: inline-block;
}

.spinner-text {
  animation: blinking 2s infinite linear;
}

.rect {
  background-color: #000000;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  animation: blinking 2s infinite linear, moving 2s infinite alternate;
}
