* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.spinner {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
}

.spinner-text {
  animation: blinking 2s infinite linear;
}

.rect {
  background-color: #000000;
  width: 10px;
  height: 4px;
  border-radius: 2px;

  animation: blinking 2s infinite, moving 2s infinite alternate;
}

@keyframes moving {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 65px;
  }
}
