* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.block {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  height: 100px;
  background-color: coral;
  border-radius: 10px;
  animation: down 2s ease;
  animation-fill-mode: forwards;
}

@keyframes down {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
