body {
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffff00;
  height: 40px;
}

nav > ul {
  display: flex;
}

ul,
h2 {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 16px;
  line-height: 40px;
  list-style-type: none;
}

.main {
  height: 100%;
  flex: 1 1 100%;
}

.main-wrapper {
  display: flex;
  height: 100%;
}

section {
  flex-grow: 1;
  background-color: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  width: 200px;
  background-color: #808080;
}

aside > h2 {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

aside > ul > li {
  line-height: 40px;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008000;
}
